sm-sidebar.right.vertical.inverted.sidebar.labeled.icon.menu#invertedSidebar
    a.item 1
    a.item 2
    a.item 3

sm-menu(title='Grammy')

.ui.container.raised.very.padded.text.segment.margin-top
  h2.ui.header Bienvenido a {{ title }}
  p Pon tu texto para comenzar el análisis.
  app-analysis