.ui.inverted.menu
  a.active.item {{title}}

.ui.container.raised.very.padded.text.segment.margin-top
  h2.ui.header Bienvenido a {{ title }}
  p Pon tu texto para comenzar el análisis.
  app-analysis